Package: motd
Version: [[version]]
Section: misc
Priority: standard
Architecture: all
Depends: figlet
Maintainer: Andoni del Olmo <andoni.delolmo@gmail.com>
Installed-Size: [[size]]
Description: Display message of the day with actual system information.
