Package: moco
Version: [[version]]
Section: java
Priority: standard
Architecture: all
Depends: oracle-java8-jre
Maintainer: Andoni del Olmo <andoni.delolmo@gmail.com>
Installed-Size: [[size]]
Description: Moco is an easy setup stub framework.
