Package: hdsleep
Version: [[version]]
Section: unknown
Priority: standard
Architecture: all
Depends: sysstat
Maintainer: Andoni del Olmo <andoni.delolmo@gmail.com>
Installed-Size: [[size]]
Description: Brings hard disks into standby mode when not in use.
